html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-c/2560x500/0f/38/c0/5c/view-of-the-lake-from.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: goldenrod;
    font-size: 40px;
}

h2, h3 {
    color: lightgoldenrodyellow;
}

aside {
    background-color: rgb(167, 167, 145);
}

canvas {
    background-color:black;
}

#container {
    max-width: 650px;
    background-color: lightblue;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "top-left top-left top-right"
        "game game game"
        "btm-left btm-right btm-right";
}

#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 69, 69);
}

#top-left {
    grid-area: top-left;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}


#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}

footer {
    margin: 0 auto;
    max-width: 700px;
    color: white;
    margin-top: 20px;
}